<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ .Site.Params.fullDescription }}">
    <meta name="keywords" content="{{ .Site.Params.keywords }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="twitter:description" content={{ .Site.Params.description }}>
    <meta property="og:description" content={{ .Site.Params.description }}>
    <meta property="og:image" content="{{ "images/linkedin-share.png" | absURL }}">
    <link rel="apple-touch-icon" type="image/png" href='{{ "images/apple-touch-icon.png" | absURL }}'>
    
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

    <link rel="icon" type="image/png" href='{{ "images/favicon-16x16.png" | absURL }}' sizes="16x16">
    <link rel="icon" type="image/png" href='{{ "images/favicon-32x32.png" | absURL }}' sizes="32x32">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    {{ $cssBundle := resources.Match "css/*.css" | resources.Concat "css/bundle.css" | minify | fingerprint }}

    <link rel="stylesheet" href="{{ $cssBundle.Permalink }}" integrity="{{ $cssBundle.Data.Integrity }}" />

    <script data-ad-client="ca-pub-3129241462887945" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
    {{ block "head" . }}{{ end }}
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark py-1 top-nav">
        <div class="container">
            {{ partial "navbar-brand" . }}
        </div>
    </nav>

    {{ block "header" .}}{{ end }}

    <div class="main">
        {{ block "main" .}}{{ end }}
    </div>

    <div id="mini-links"><a href="/privacy">privacy policy</a></div>

    <footer class="mt-auto footer d-print-none">
        <div class="container-fluid">
            <div class="row footer-justification align-center">
                <div class="col-xs-6">
                    {{ partial "footer-copyright" . }}
                </div>
                <div class="col-xs-6">
                    {{ partial "footer-about-site" . }}
                </div>
            </div>
        </div>
    </footer>

    <div id="privacy" style="display: none;">
        <span id="privacy-message">We encourage you to read our updated <a href="/privacy">PRIVACY POLICY</a> and <a href="/privacy">COOKIE POLICY</a>.</span>
        <span id="privacy-close">X</span>
    </div>

    {{ template "_internal/google_analytics_async.html" . }}
    
    {{ $libs := resources.Match "js/lib/*.js" | resources.Concat "js/libs.js" | minify | fingerprint }}
    {{ $jsBundle := resources.Match "js/*.js" | resources.Concat "js/bundle.js" | minify | fingerprint }}
    
    <script src="{{ $libs.Permalink }}"></script>
    <script src="{{ $jsBundle.Permalink }}"></script>
    <!-- CommentBox -->
    <script>
        commentBox('{{ .Site.Params.commentBox }}');
    </script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{.Site.GoogleAnalytics}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{.Site.GoogleAnalytics}}');
    </script>
</body>

</html>