body {
    background-color: #fafafa !important;
    padding-top: 42px;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    display: flex;
    flex: 1;
}

body .main-content h1 {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    word-wrap: break-word;
}

hr {
    border-top: 1px dotted #2c2a24;
    margin-bottom: 0;
}

pre {
    margin: 0 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
}

a,
.text-primary {
    color: #337ab7;
    word-wrap: break-word;
}

.top-nav .container {
    max-width: 1575px;
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand {
    font-family: "Oswald", sans-serif;
    font-size: 1.6rem;
    padding: 0;
    text-transform: uppercase;
}

.navbar-brand img {
    vertical-align: baseline;
}

.top-nav a,
.top-nav a:hover {
    text-decoration: none;
    color: #fff;
}

a.card {
    text-decoration: none;
    color: #000;
    border: 0;
}

.top-nav,
footer,
.sidebar {
    flex-shrink: 0;
}

.sidebar .badge-secondary {
    color: #847b79;
    background-color: #eeedea;
}

footer {
    color: #fff3e4;
    font-size: 0.8rem;
    padding: 30px 30px;
}

footer h5 {
    font-size: 0.9rem;
    font-family: inherit;
    margin-top: 10px;
}

footer h5,
footer a {
    color: #e3d096;
}

footer .icons a {
    font-size: 1.2rem;
    margin: 0 8px;
}

footer hr {
    border-top: 1px dotted #555;
    margin: 30px 0;
}

.main-content {
    flex: 1 0 auto;
}

.main-content h1 {
    font-size: 2rem;
}

.post h1,
.recent-posts h2,
.sidebar h2 {
    padding-bottom: 10px;
    border-bottom: 1px dotted #2c2a24;
}

.recent-posts .post {
    margin-bottom: 4rem;
}

.recent-posts a.title,
.recent-posts a.title:hover {
    color: #222;
    text-decoration: none;
}

.top-nav {
    color: #fff;
    border-color: rgba(255, 255, 255, 0);
    -webkit-box-shadow: 0px -6px 21px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -6px 21px 3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -6px 21px 3px rgba(0, 0, 0, 0.75);
}

.share-icons {
    font-size: 1.2em;
}

.share-icons a {
    color: #eeedea;
}

.share-icons .fa-inverse {
    color: #847b79;
}

.feature-image,
.feature-banner {
    background: no-repeat center center;
    background-size: cover;
    display: flex;
    height: 100%;
    text-align: center;
    align-items: center;

    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.feature-image-text {
    max-width: 760px;
    margin-right: auto;
    margin-left: auto;
}

.feature-image-container {
    max-height: 14rem;
    display: flex;
    overflow: hidden;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.white-shadow-text {
    text-shadow: 0 0 3px #222;
    color: #fcfbf7;
}

.feature-image-text h1 {
    font-size: 2.3rem;
}

.feature-image-text .intro-description {
    font-size: 1.6rem;
}

.sidebar {
    background-color: #f8f8f8;
    border-left: 1px dotted #bbb;
    padding: 1.5rem 50px 20px 50px;
    flex: 0 0 30rem;
}

.sidebar a:hover {
    color: #23527c;
    background-color: #eee;
}

.btn-outline-secondary {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

a.btn-outline-secondary:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.blockquote {
    margin: 25px auto;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #78c0a8;
    position: relative;
    background: #ededed;
}

blockquote::before {
    font-family: Arial;
    content: "\201C";
    color: #78c0a8;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px;
}

.main img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

/* Added Later... Sort which should move to site */
h2:hover {
    color: #434a52;
}


html,
nav {
    min-width: 316px;
}

.orange {
    color: #f49f00;
}

footer {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: 10px !important;
    -webkit-box-shadow: 2px 20px 39px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 20px 39px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 20px 39px 0px rgba(0,0,0,0.75);
}

footer.footer h5,
footer.footer a,
footer .fab,
footer .fas {
    color: white;
}

h2 {
    margin-top: 25px;
}

h3 {
    font-size: 1.3rem;
    margin-top: 25px;
    color: slategray;
}

.align-center {
    align-items: center;
}

.share-icons .fab,
.share-icons .fa {
    color: white !important;
}

.share-icons a {
    padding-bottom: 5px !important;
    padding-top: 20px !important;
}

.share-icons a:hover * {
    color: #289;
}

footer a:hover * {
    color: lightblue !important;
    stroke: lightblue;
}

.footer-justification {
    justify-content: space-around;
}

/** adjusts the footer social media icons so they are centered when they wrap*/
@media screen and (min-width: 405px) {
    .footer-justification {
        justify-content: space-between;
    }

    img[alt^="Small Image"] {
        width: 50%;
    }
}

/*theme for code snippets*/
.main-content img {
    margin-top: 0px;
    margin-bottom: 0px;
}

#privacy {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 440px;
    text-align: center;
    font-size: 11px;
    padding: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.75);
    color: white;
    opacity: 0.85;
}

#privacy-message {
    vertical-align: middle;
}

#privacy-close {
    font-weight: bold;
    font-size: 15px;
    vertical-align: middle;
    margin-left: 15px;
    cursor: pointer;
    color: rgb(158, 60, 60);
}

#mini-links {
    font-size: 11px;
    padding: 10px;
    text-align: center;
}

#nav-icon-container svg:hover {
    stroke: lightblue;
}

#profile-container {
    margin-top: 10px;
    min-height: 240px;
}

#profile-pic {
    margin-right: 10px;
    float: left;
    border-radius: 50%;
    border: 10px lightgray;
    border-top-right-radius: 7%;
    border-style: solid;
}

@media (max-width: 576px) {
    #profile-pic {
        width: 30%;
    }
}

@media (max-width: 350px) {
    #profile-pic {
        width: 50%;
    }
}

.two-columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#about-main {
    display: flex;
}

#about-main li {
    white-space: nowrap;
}

#tweet-container {
    flex: 1;
}

#link-container {
    flex: 1;
}

@media (max-width: 470px) {
    #about-main {
        flex-direction: column;
    }
}

/* pagination */
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    border-color: #dee2e6;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    color: lightblue;
}
